.category-page-container {
    min-height: 90vh;
}

.category-banner-container {
    height: 130px;
    background-color: #b1d7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 72);
}

.search {
    width: 500px;
    border-color: #b1d7ef;
    border-radius: 10px;
}