.product--image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.product--image_url {
    border-radius: 20px;
    width: 550px;
    object-fit: cover;
}

.btn-add-to-cart {
    border: none;
    border-radius: 100px;
    background-color: orange;
    color: black;
    font-weight: bold;
}